name: Tests

on: 
  push:
    branches: 
      - main
  pull_request:
    branches: 
      - main

jobs:
  macos:
    strategy:
      matrix:
        xcode: ['15.4', '16.1']
    name: MacOS
    runs-on: macos-14
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ matrix.xcode }}
      - name: Build
        run: swift build
      - name: Run MacOS Tests
        run: swift test

  ios:
    name: iOS
    runs-on: macos-14
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v4

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Run iOS Tests
        run: |
          xcodebuild test \
            -scheme Harmonize-Package \
            -destination 'platform=iOS Simulator,name=iPhone 16' \
            -configuration Debug
